.jechangelog {
  &__title {
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #9ca3af;
    }
  }

  // Editor wrapper
  &.block-editor-block-list__block {
    background: #fafafa;
    padding: 1.5rem;
    border-radius: 12px;
  }
}